@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1 style="text-align: center; color: #6b2727; text-decoration:underline;"><b>Know About Our Alumni</b></h1>
    <div class="container">
        <div class="row" style="padding:50px;">
            <div class="col-sm-6">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="https://www.srms.ac.in/cet/wp-content/uploads/2016/11/srms-alumni-subodh-dixit.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title"><b>Subodh Dixit</b></h4>
                            <p class="card-text">
                                Group Head<br>
                                Tata Power
                            </p>
                        </div>
                    </div>
            </div>

            <div class="col-sm-6">
                <h3 class="heading" style="text-align:left;"><b>FROM BAREILLY TO MUMBAI, SRMS CET’S ALUMNUS SUBODH DIXIT’S JOURNEY HAS BEEN NOTHING SHORT OF PHENOMENAL!</b></h3>
                <p style="text-align:left;">
                    From Project Manager in Blue Star to Group Head at Tata Power, Subodh Dixit, has certainly come a long way from his days in Bareilly as a B.Tech student at Shri Ram Murti Smarak College of Engineering and Technology (SRMSCET, Batch of 1999). Subodh admits that he owes his success to hard work, which, “I believe is the only path to success.”
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding:50px;">
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="http://www.srms.ac.in/cet/wp-content/uploads/2016/11/ARMS-Alumni-Shalabh-Garg.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Shalabh Garg</b></h4>
                        <p class="card-text">
                            Associate Vice President<br>
                            Head of Data Centre Services-Religare
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3 class="heading" style="text-align:left;"><b>IT DOESN’T HAPPEN DAILY THAT YOU CLIMB THREE RUNGS OF THE CORPORATE LADDER WITHIN TWO YEARS. WITH SHALABH, THINGS WERE DIFFERENT!</b></h3>
                <p style="text-align:left;">
                    A 1996 Computer Science and Engineering graduate from Shri Ram Murti Smarak College of Engineering and Technology, alumnus Shalabh Garg says that the college provided him with a platform to begin with and finally made him what he is today. “My four year stint at SRMSCET, coupled with strong base developed there, facilitated my move to different roles and profiles in various companies,” he says.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding:50px;">
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="http://www.srms.ac.in/cet/wp-content/uploads/2017/06/Abhishek-gupta-cet.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Abhishek Gupta</b></h4>
                        <p class="card-text">
                            Sr. Consultant<br>
                            (Cloud Mobile DotNet Xpirit)
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3 class="heading" style="text-align:left;"><b>ABHISHEK GUPTA COMPARES HIS MCA AT SRMS WITH HIS BCA FROM BITS PILANI AND WHAT GOT HIM TO 30 LACS PACKAGE IN 6 YEARS.</b></h3>
                <p style="text-align:left;">
                    Abhishek was a rank opener in the year 2007 and had a 1048 rank globally in the UPTU university entrance exam for MCA. Based on this rank, he could have opted for any of the colleges in NCR but chose Shri Ram Murti Smarak College of Engineering & Technology, Bareilly for its reputation and strict discipline.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding:50px;">
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="http://www.srms.ac.in/cet/wp-content/uploads/2016/11/ansul-gupta-srms-alumni.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Anshul Gupta</b></h4>
                        <p class="card-text">
                            Lead consultant<br>
                            Genpect Headstrong
                            Capital Market, Noida
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3 class="heading" style="text-align:left;"><b>IT DOESN’T HAPPEN DAILY THAT YOU CLIMB THREE RUNGS OF THE CORPORATE LADDER WITHIN TWO YEARS. WITH SHALABH, THINGS WERE DIFFERENT!</b></h3>
                <p style="text-align:left;">
                    A 1996 Computer Science and Engineering graduate from Shri Ram Murti Smarak College of Engineering and Technology, alumnus Shalabh Garg says that the college provided him with a platform to begin with and finally made him what he is today. “My four year stint at SRMSCET, coupled with strong base developed there, facilitated my move to different roles and profiles in various companies,” he says.
                </p>
            </div>
        </div>
    </div>
</div>
