@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1 style="margin-top:50px; text-decoration:underline;">Shri Ram Murti Smarak Engineering Colleges</h1>
    <h4 style="margin-top:40px;">Shri Ram Murti Smarak College of Engineering & Technology, Bareilly</h4>
    <pre>
            Address: Ram Murti Puram 13 KM Bareilly-Nainital Road, Bhojipura, Bareilly-243202, UP, India
            Mobile No: 0581-2582246, 2582249, 2582331, 2582332
            Telephone No: 0581-2582330
            Admission Helpline: 09458702000, 07895982000, 07900553000
            Email Address: cet@srmscet.edu
    </pre>
    <h4 style="margin-top:40px;">Shri Ram Murti Smarak College of Engineering, Technology and Research, Bareilly</h4>
    <pre>
             Address: Ram Murti Puram 13 KM Bareilly-Nainital Road, Bhojipura, Bareilly-243202, UP, India
             Mobile No: 0581-2582701, 2582702, 2582703, 2582704
             Telephone No: 0581-2582700
             Admission Helpline: 09458703000, 07900556000
             Email Address: info@srmswcet.ac.in
    </pre>
</div>
