@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h1 style="text-decoration:underline;">Courses Offered:</h1>
        <div style="padding:15px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" style="text-align:left;">
                        <section>
                            <h3 style="text-decoration:underline;">Under Graduation</h3>
                            <div class="list">
                                <div style="border: 1px solid black; padding: 10px;">
                                    <ul>
                                        <li>
                                            <i class="ea-expand-icon fa fa-plus"></i> <img style="margin-right: 30px;" src="https://www.srms.ac.in/wp-content/uploads/2019/01/eng1.png" />Engineering
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    <details>
                                                        <summary>B.Tech</summary>
                                                            <div>
                                                                <ul>
                                                                    <li>Computer Science Engineering</li>
                                                                    <li>Information Technology</li>
                                                                    <li>Electronics Communication Engineering</li>
                                                                    <li>Mechanical Engneering</li>
                                                                </ul>
                                                            </div>
                                                        </details>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <i class="ea-expand-icon fa fa-plus"></i> <img style="margin-right: 30px;" src="https://www.srms.ac.in/wp-content/uploads/2019/01/mgm1.png" />Management
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    BBA
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <i class="ea-expand-icon fa fa-plus"></i> <img style="margin-right: 22px;" src="https://www.srms.ac.in/wp-content/uploads/2024/05/computer-applications.png" /><span style="font-size: 15px !important;">Computer Applications</span>
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    BCA
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animation"></div>
                        </section>
                    </div>
                    <div class="col-sm-6" style="text-align:left;">
                        <section>
                            <h3 style="text-decoration:underline;">Post Graduation</h3>
                            <div class="list">
                                <div style="border: 1px solid black; padding: 10px;">
                                    <ul>
                                        <li>
                                            <i class=ea-expand-icon fa fa-plus"></i> <img style="margin-right: 30px;" src="https://www.srms.ac.in/wp-content/uploads/2019/01/eng1.png" />Engineering
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    M.Tech
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <i class="ea-expand-icon fa fa-plus"></i> <img style="margin-right: 30px;" src="https://www.srms.ac.in/wp-content/uploads/2019/01/mgm1.png" />Management
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    MBA
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <i class="ea-expand-icon fa fa-plus"></i> <img style="margin-right: 22px;" src="https://www.srms.ac.in/wp-content/uploads/2024/05/computer-applications.png" /><span style="font-size: 15px !important;">Computer Applications</span>
                                            <ul style="margin-left:32px;">
                                                <li>
                                                    MCA
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="animation"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
